<footer>
    <!-- footer-top-start -->
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer-top-menu bb-2">
                        <nav>
                            <ul>
                                <li>
                                    <a href="{% url 'book_browsing:home' %}">home</a>
                                </li>
                                <li>
                                    <a href="{% url 'book_browsing:contact' %}">contact us</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer-top-start -->

    <!-- footer-mid-start -->
    <div class="footer-mid ptb-50">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-12">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-12">
                            <div class="single-footer br-2 xs-mb">
                                <div class="footer-title mb-20">
                                    <h3>Products</h3>
                                </div>
                                <div class="footer-mid-menu">
                                    <ul>
                                        <li>
                                            <a href="{% url 'book_browsing:about' %}">About us</a>
                                        </li>
                                        <li>
                                            <a href="{% url 'book_browsing:new-book' %}">New Books</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-12">
                            <div class="single-footer br-2 xs-mb">
                                <div class="footer-title mb-20">
                                    <h3>Our Group</h3>
                                </div>
                                <div class="footer-mid-menu">
                                    <ul>
                                        <li>
                                            <a href="{% url 'book_browsing:contact' %}">Contact us</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)">Sitemap</a>
                                        </li>
                                        <li>
                                            <a href="{% url 'accounts:profiles' %}">My account</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-12">
                            <div class="single-footer br-2 xs-mb">
                                <div class="footer-title mb-20">
                                    <h3>Your account</h3>
                                </div>
                                <div class="footer-mid-menu">
                                    <ul>
                                        <li>
                                            <a href="{% url 'book_browsing:contact' %}">Addresses</a>
                                        </li>
                                        <li>
                                            <a href="{% url 'book_browsing:order' %}">Orders</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)">Personal info</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="single-footer mrg-sm">
                        <div class="footer-title mb-20">
                            <h3>STORE INFORMATION</h3>
                        </div>
                        <div class="footer-contact">
                            <p class="address">
                                <span>My Company</span>
                                33351, Florida, USA.
                            </p>
                            <p>
                                <span>Call us now:</span>
                                (+1)347-972-0000
                            </p>
                            <p>
                                <span>Email:</span>
                                support@group19.com
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer-mid-end -->

    <!-- footer-bottom-start -->
    <div class="footer-bottom">
        <div class="container">
            <div class="row bt-2">
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="copy-right-area">
                        <p>Copyright &copy; <a href="javascript:void(0)">Group 19 Online Book Store</a>. All Right Reserved.
                        </p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="payment-img text-right">
                        <a href="javascript:void(0)">
                            <img src="/static/images/1(3).png" alt="payment">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer-bottom-end -->
</footer>