{% extends 'layout/default.html' %}

{% block content %}

    {% include "elements/website/breadcrumb.html" %}

    <div class="shop-main-area mb-70" id="new_release">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-12 order-lg-2 order-1">
                    <div class="section-title-5 mb-30">
                        <h2>{{ title }} Book</h2>
                    </div>
                    <div class="toolbar mb-30">
                        <div class="shop-tab">
                            <div class="tab-3">
                                <ul class="nav">
                                    <li><a class="active" href="#th" data-toggle="tab"><i class="fa fa-th-large"></i>Grid</a></li>
                                    <li><a href="#list" data-toggle="tab"><i class="fa fa-bars"></i>List</a></li>
                                </ul>
                            </div>
                            <div class="list-page">
                                <p>Items {{ books.start_index }}-{{ books.end_index }} of {{ count }}</p>
                            </div>
                        </div>
                        <div class="toolbar-sorter">
                            <span>Sort By</span>
                            <select id="sorter" class="sorter-options" data-role="sorter">
                                <option selected="selected" value="name">Book Title</option>
                                <option value="price"> Price</option>
                                <option value="releasedDate"> Release Date</option>
                                <option value="pricelowtohigh"> Price Low to High</option>
                                <option value="atoz"> A to Z</option>
                            </select>
                        </div>
                    </div>
                    <!-- tab-area-start -->
                    <div class="tab-content" id="tab_content_book">
                        <div class="tab-pane fade show active" id="th">
                            <div class="row">
                                {% if books %}
                                    {% for result in books %}
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                                            <!-- single-product-start -->
                                            <div class="product-wrapper mb-40">
                                                <div class="product-img">
                                                    <a href="{% url 'book' result.id %}">
                                                        <img src="/static/images/product/{{ result.coverImage }}" alt="{{ result.name }}" class="primary">
                                                    </a>
                                                    <div class="quick-view">
                                                        <a class="action-view" href="{% url 'book' result.id %}" title="Quick View">
                                                            <i class="fa fa-search-plus"></i>
                                                        </a>
                                                    </div>
                                                    <div class="product-flag">
                                                        <ul>
                                                            <li><span class="sale">new</span></li>
                                                            <li><span class="discount-percentage">-5%</span></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="product-details text-center">
                                                    <div class="product-rating">
                                                        <ul>
                                                            <li><a href="javascript:void(0)"><i class="fa fa-star"></i></a></li>
                                                            <li><a href="javascript:void(0)"><i class="fa fa-star"></i></a></li>
                                                            <li><a href="javascript:void(0)"><i class="fa fa-star"></i></a></li>
                                                            <li><a href="javascript:void(0)"><i class="fa fa-star"></i></a></li>
                                                            <li><a href="javascript:void(0)"><i class="fa fa-star"></i></a></li>
                                                        </ul>
                                                    </div>
                                                    <h4><a href="{% url 'book' result.id %}">{{ result.name }}</a></h4>
                                                    <div class="product-price">
                                                        <ul>
                                                            <li>${{ result.price }}</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="product-link">
                                                    <div class="product-button">
                                                        <a href="{% url 'shopping_cart:add_to_cart' result.id %}" title="Add to cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                                    </div>
                                                    <div class="add-to-link">
                                                        <ul>
                                                            <li><a href="javascript:void(0)" title="Details"><i class="fa fa-external-link"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- single-product-end -->
                                        </div>
                                    {% endfor %}

                                {% else %}
                                    <h3>Data not found</h3>
                                {% endif %}

                            </div>
                        </div>
                        <div class="tab-pane fade" id="list">
                            {% if books %}
                                {% for result in books %}
                                    <!-- single-shop-start -->
                                    <div class="single-shop mb-30">
                                        <div class="row">
                                            <div class="col-lg-4 col-md-4 col-12">
                                                <div class="product-wrapper-2">
                                                    <div class="product-img">
                                                        <a href="{% url 'book' result.id %}">
                                                            <img src="/static/images/product/{{ result.coverImage }}" alt="{{ result.name }}" class="primary">
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-8 col-md-8 col-12">
                                                <div class="product-wrapper-content">
                                                    <div class="product-details">
                                                        <div class="product-rating">
                                                            <ul>
                                                                <li><a href="javascript:void(0)"><i class="fa fa-star"></i></a></li>
                                                                <li><a href="javascript:void(0)"><i class="fa fa-star"></i></a></li>
                                                                <li><a href="javascript:void(0)"><i class="fa fa-star"></i></a></li>
                                                                <li><a href="javascript:void(0)"><i class="fa fa-star"></i></a></li>
                                                                <li><a href="javascript:void(0)"><i class="fa fa-star"></i></a></li>
                                                            </ul>
                                                        </div>
                                                        <h4><a href="{% url 'book' result.id %}">{{ result.name }}</a></h4>
                                                        <div class="product-price">
                                                            <ul>
                                                                <li>${{ result.price }}</li>
                                                            </ul>
                                                        </div>
                                                        <p>{{ result.description }} </p>
                                                    </div>
                                                    <div class="product-link">
                                                        <div class="product-button">
                                                            <a href="{% url 'shopping_cart:add_to_cart' result.id %}" title="Add to cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                                        </div>
                                                        <div class="add-to-link">
                                                            <ul>
                                                                <li><a href="javascript:void(0)" title="Details"><i class="fa fa-external-link"></i></a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- single-shop-end -->
                                {% endfor %}
                            {% else %}
                                <h3>Data not found</h3>
                            {% endif %}
                        </div>
                    </div>
                    <!-- tab-area-end -->
                    <!-- pagination-area-start -->
                    {% if books.has_other_pages %}
                        <div class="pagination-area mt-50">
                            <div class="list-page-2">
                                <p>Items {{ books.start_index }}-{{ books.end_index }} of {{ count }}</p>
                            </div>
                            <div class="page-number">
                                <ul class="pagination">
                                    {% if books.has_previous %}
                                        <li><a href="?page={{ books.previous_page_number }}">&laquo;</a></li>
                                    {% else %}
                                        <li class="disabled"><span>&laquo;</span></li>
                                    {% endif %}
                                    {% for i in books.paginator.page_range %}
                                        {% if books.number == i %}
                                            <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                                        {% else %}
                                            <li><a href="?page={{ i }}">{{ i }}</a></li>
                                        {% endif %}
                                    {% endfor %}
                                    {% if books.has_next %}
                                        <li><a href="?page={{ books.next_page_number }}">&raquo;</a></li>
                                    {% else %}
                                        <li class="disabled"><span>&raquo;</span></li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    {% endif %}
                    <!-- pagination-area-end -->
                </div>
            </div>
        </div>
    </div>

{% endblock %}