{% extends 'layout/default.html' %}

{% block content %}
    <!-- slider-area-start -->
    <div class="slider-area">
        <div class="slider-active owl-carousel owl-theme">
            <div class="item" style="width: 1903px;">
                <div class="single-slider pt-125 pb-130 bg-img" style="background-image:url('/static/images/slider/1.jpg');">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-5">
                                <div class="slider-content slider-animated-1 text-center">
                                    <h1>Huge Sale</h1>
                                    <h2>Group 19</h2>
                                    <h3>Now starting at $99.00</h3>
                                    <a class="shop-now" href="javascript:void(0)" data-id="featuredBook">Shop now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item" style="width: 1903px;">
                <div class="single-slider slider-h1-2 pt-215 pb-100 bg-img" style="background-image:url('/static/images/slider/2.jpg');">
                    <div class="container">
                        <div class="slider-content slider-content-2 slider-animated-1">
                            <h1>We can help get your</h1>
                            <h2>Books in Order</h2>
                            <h3>and Accessories</h3>
                            <a href="{% url 'book_browsing:contact' %}">Contact Us Today!</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item" style="width: 1903px;">
                <div class="single-slider pt-125 pb-130 bg-img" style="background-image:url('/static/images/slider/1.jpg');">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-5">
                                <div class="slider-content slider-animated-1 text-center">
                                    <h1>Huge Sale</h1>
                                    <h2>Group 19</h2>
                                    <h3>Now starting at $99.00</h3>
                                    <a class="shop-now" href="javascript:void(0)" data-id="featuredBook">Shop now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item" style="width: 1903px;">
                <div class="single-slider slider-h1-2 pt-215 pb-100 bg-img" style="background-image:url('/static/images/slider/2.jpg');">
                    <div class="container">
                        <div class="slider-content slider-content-2 slider-animated-1">
                            <h1>We can help get your</h1>
                            <h2>Books in Order</h2>
                            <h3>and Accessories</h3>
                            <a href="{% url 'book_browsing:contact' %}">Contact Us Today!</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item" style="width: 1903px;">
                <div class="single-slider pt-125 pb-130 bg-img" style="background-image:url('/static/images/slider/1.jpg');">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-5">
                                <div class="slider-content slider-animated-1 text-center">
                                    <h1>Huge Sale</h1>
                                    <h2>Group 19</h2>
                                    <h3>Now starting at $99.00</h3>
                                    <a class="shop-now" href="javascript:void(0)" data-id=" featuredBook">Shop now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item" style="width: 1903px;">
                <div class="single-slider slider-h1-2 pt-215 pb-100 bg-img" style="background-image:url('/static/images/slider/2.jpg');">
                    <div class="container">
                        <div class="slider-content slider-content-2 slider-animated-1">
                            <h1>We can help get your</h1>
                            <h2>Books in Order</h2>
                            <h3>and Accessories</h3>
                            <a href="{% url 'book_browsing:contact' %}">Contact Us Today!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- slider-area-end -->

    <!-- top interesting-area-start -->
    <div class="product-area pt-95 xs-mb" id="interesting">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title text-center mb-50">
                        <h2>Top interesting</h2>
                        <p>Browse the collection of our best selling and top interesting products. <br> ll definitely find what you are looking for..</p>
                    </div>
                </div>
                <div class="col-lg-12">
                    <!-- tab-menu-start -->
                    <div class="tab-menu mb-40 text-center">
                        <ul class="nav justify-content-center">
                            <li><a class="active" href="#Audiobooks" data-toggle="tab">New Arrival </a></li>
                            <li><a href="#books" data-toggle="tab">OnSale</a></li>
                            <li><a href="#business" data-toggle="tab">Featured Products</a></li>
                        </ul>
                    </div>
                    <!-- tab-menu-end -->
                </div>
            </div>
            <!-- tab-area-start -->
            <div class="tab-content">
                {% include "elements/home/new-arrival.html" with books=new_release %}

                {% include "elements/home/on-sale.html" with books=on_sales %}

                {% include "elements/home/on-sale.html" with books=feature_products %}
            </div>
            <!-- tab-area-end -->
        </div>
    </div>
    <!-- top interesting-area-end -->

    <!-- author bestseller-area-start -->
    <div class="bestseller-area pb-100" id="bestseller">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-12 col-12">
                    <div class="bestseller-content">
                        <h1>Author best selling</h1>
                        <h2>J. K. <br>Rowling</h2>
                        <p class="categories">categories:<a href="javascript:void(0)">Books</a> , <a href="javascript:void(0)">Audiobooks</a></p>
                        <p>Vestibulum porttitor iaculis gravida. Praesent vestibulum varius placerat. Cras tempor congue neque, id aliquam orci finibus sit amet. Fusce at facilisis arcu. Donec aliquet nulla id turpis semper, a bibendum metus vulputate. Suspendisse potenti. </p>
                        <div class="social-author">
                            <ul>
                                <li><a href="javascript:void(0)"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="javascript:void(0)"><i class="fa fa-twitter"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="banner-img-2">
                        <a href="javascript:void(0)"><img src="/static/images/6.jpg" alt="banner"></a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-12">
                    {% include "elements/home/best-selling.html" with books=best_sellings %}
                </div>
            </div>
        </div>
    </div>
    <!-- author bestseller-area-end -->

    <!-- feature-book-area-start -->
    <div class="new-book-area pb-100" id="featuredBook">
        {% include "elements/home/featured-book.html" with books=feature_products %}
    </div>
    <!-- feature-book-area-start -->

    <!-- genre-books-area-start -->
    <div class="most-product-area" id="productBook">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title bt text-center pt-100 mb-30 section-title-res">
                        <h2>Genre Books</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                {% include "elements/home/all-book.html" with books=all_books %}

                {% include "elements/home/science-fiction-book.html" with books=science_fiction_books %}


                {% include "elements/home/history-book.html" with books=history_books %}

                {% include "elements/home/fantasy-book.html" with books=fantasy_books %}
            </div>
        </div>
    </div>
    <!-- genre-books-area-end -->

{% endblock %}