{% extends 'layout/default.html' %}

{% block content %}

{% include "elements/website/breadcrumb.html" %}

<div class="shop-main-area mb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-12 order-lg-2 order-1">
                <div class="section-title-5 mb-30">
                    <h2>Top Sellers</h2>
                </div>
                <div class="toolbar mb-30">
                    <div class="shop-tab">
                        <div class="tab-3">
                            <ul class="nav">
                                <li><a class="active" href="#th" data-toggle="tab"><i class="fa fa-th-large"></i>Grid</a></li>
                                <li><a href="#list" data-toggle="tab"><i class="fa fa-bars"></i>List</a></li>
                            </ul>
                        </div>
                        <div class="list-page">
                            <p>Items 1-10 of 30</p>
                        </div>
                    </div>
                    <div class="field-limiter">
                        <div class="control">
                            <span>Show</span>
                            <!-- chosen-start -->
                            <select data-placeholder="Default Sorting" style="width:50px;" class="chosen-select" tabindex="1">
                                <option value="Sorting">1</option>
                                <option value="popularity">2</option>
                                <option value="rating">3</option>
                                <option value="date">4</option>
                            </select>
                            <!-- chosen-end -->
                        </div>
                    </div>
                    <div class="toolbar-sorter">
                        <span>Sort By</span>
                        <select id="sorter" class="sorter-options" data-role="sorter">
                            <option selected="selected" value="position"> Position</option>
                            <option value="name"> Product Name</option>
                            <option value="price"> Price</option>
                        </select>
                        <a href="javascript:void(0)"><i class="fa fa-arrow-up"></i></a>
                    </div>
                </div>
                <!-- tab-area-start -->
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="th">
                        <div class="row">
                            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                                <!-- single-product-start -->
                                <div class="product-wrapper mb-40">
                                    <div class="product-img">
                                        <a href="javascript:void(0)">
                                            <img src="/static/images/product/1.jpg" alt="book" class="primary">
                                        </a>
                                        <div class="quick-view">
                                            <a class="action-view" href="javascript:void(0)" data-target="#productModal" data-toggle="modal" title="Quick View">
                                                <i class="fa fa-search-plus"></i>
                                            </a>
                                        </div>
                                        <div class="product-flag">
                                            <ul>
                                                <li><span class="sale">new</span></li>
                                                <li><span class="discount-percentage">-5%</span></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="product-details text-center">
                                        <div class="product-rating">
                                            <ul>
                                                <li><a href="javascript:void(0)"><i class="fa fa-star"></i></a></li>
                                                <li><a href="javascript:void(0)"><i class="fa fa-star"></i></a></li>
                                                <li><a href="javascript:void(0)"><i class="fa fa-star"></i></a></li>
                                                <li><a href="javascript:void(0)"><i class="fa fa-star"></i></a></li>
                                                <li><a href="javascript:void(0)"><i class="fa fa-star"></i></a></li>
                                            </ul>
                                        </div>
                                        <h4><a href="javascript:void(0)">Joust Duffle Bag</a></h4>
                                        <div class="product-price">
                                            <ul>
                                                <li>$60.00</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="product-link">
                                        <div class="product-button">
                                            <a href="javascript:void(0)" title="Add to cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                        </div>
                                        <div class="add-to-link">
                                            <ul>
                                                <li><a href="product-details.html" title="Details"><i class="fa fa-external-link"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!-- single-product-end -->
                            </div>
                            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                                <!-- single-product-start -->
                                <div class="product-wrapper mb-40">
                                    <div class="product-img">
                                        <a href="javascript:void(0)">
                                            <img src="/static/images/product/18.jpg" alt="book" class="primary">
                                        </a>
                                        <div class="quick-view">
                                            <a class="action-view" href="javascript:void(0)" data-target="#productModal" data-toggle="modal" title="Quick View">
                                                <i class="fa fa-search-plus"></i>
                                            </a>
                                        </div>
                                        <div class="product-flag">
                                            <ul>
                                                <li><span class="sale">new</span></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="product-details text-center">
                                        <div class="product-rating">
                                            <ul>
                                                <li><a href="javascript:void(0)"><i class="fa fa-star"></i></a></li>
                                                <li><a href="javascript:void(0)"><i class="fa fa-star"></i></a></li>
                                                <li><a href="javascript:void(0)"><i class="fa fa-star"></i></a></li>
                                                <li><a href="javascript:void(0)"><i class="fa fa-star"></i></a></li>
                                                <li><a href="javascript:void(0)"><i class="fa fa-star"></i></a></li>
                                            </ul>
                                        </div>
                                        <h4><a href="javascript:void(0)">Driven Backpack</a></h4>
                                        <div class="product-price">
                                            <ul>
                                                <li>$34.00</li>
                                                <li class="old-price">$36.00</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="product-link">
                                        <div class="product-button">
                                            <a href="javascript:void(0)" title="Add to cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                        </div>
                                        <div class="add-to-link">
                                            <ul>
                                                <li><a href="product-details.html" title="Details"><i class="fa fa-external-link"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!-- single-product-end -->
                            </div>
                            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                                <!-- single-product-start -->
                                <div class="product-wrapper mb-40">
                                    <div class="product-img">
                                        <a href="javascript:void(0)">
                                            <img src="/static/images/product/3.jpg" alt="book" class="primary">
                                        </a>
                                        <div class="quick-view">
                                            <a class="action-view" href="javascript:void(0)" data-target="#productModal" data-toggle="modal" title="Quick View">
                                                <i class="fa fa-search-plus"></i>
                                            </a>
                                        </div>
                                        <div class="product-flag">
                                            <ul>
                                                <li><span class="discount-percentage">-5%</span></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="product-details text-center">
                                        <div class="product-rating">
                                            <ul>
                                                <li><a href="javascript:void(0)"><i class="fa fa-star"></i></a></li>
                                                <li><a href="javascript:void(0)"><i class="fa fa-star"></i></a></li>
                                                <li><a href="javascript:void(0)"><i class="fa fa-star"></i></a></li>
                                                <li><a href="javascript:void(0)"><i class="fa fa-star"></i></a></li>
                                                <li><a href="javascript:void(0)"><i class="fa fa-star"></i></a></li>
                                            </ul>
                                        </div>
                                        <h4><a href="javascript:void(0)">Chaz Kangeroo Hoodie</a></h4>
                                        <div class="product-price">
                                            <ul>
                                                <li>$52.00</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="product-link">
                                        <div class="product-button">
                                            <a href="javascript:void(0)" title="Add to cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                        </div>
                                        <div class="add-to-link">
                                            <ul>
                                                <li><a href="product-details.html" title="Details"><i class="fa fa-external-link"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!-- single-product-end -->
                            </div>
                            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                                <!-- single-product-start -->
                                <div class="product-wrapper mb-40">
                                    <div class="product-img">
                                        <a href="javascript:void(0)">
                                            <img src="/static/images/product/10.jpg" alt="book" class="primary">
                                        </a>
                                        <div class="quick-view">
                                            <a class="action-view" href="javascript:void(0)" data-target="#productModal" data-toggle="modal" title="Quick View">
                                                <i class="fa fa-search-plus"></i>
                                            </a>
                                        </div>
                                        <div class="product-flag">
                                            <ul>
                                                <li><span class="sale">new</span></li>
                                                <li><span class="discount-percentage">-5%</span></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="product-details text-center">
                                        <div class="product-rating">
                                            <ul>
                                                <li><a href="javascript:void(0)"><i class="fa fa-star"></i></a></li>
                                                <li><a href="javascript:void(0)"><i class="fa fa-star"></i></a></li>
                                                <li><a href="javascript:void(0)"><i class="fa fa-star"></i></a></li>
                                                <li><a href="javascript:void(0)"><i class="fa fa-star"></i></a></li>
                                                <li><a href="javascript:void(0)"><i class="fa fa-star"></i></a></li>
                                            </ul>
                                        </div>
                                        <h4><a href="javascript:void(0)">Fusion Backpack</a></h4>
                                        <div class="product-price">
                                            <ul>
                                                <li>$59.00</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="product-link">
                                        <div class="product-button">
                                            <a href="javascript:void(0)" title="Add to cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                        </div>
                                        <div class="add-to-link">
                                            <ul>
                                                <li><a href="product-details.html" title="Details"><i class="fa fa-external-link"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!-- single-product-end -->
                            </div>
                            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                                <!-- single-product-start -->
                                <div class="product-wrapper mb-40">
                                    <div class="product-img">
                                        <a href="javascript:void(0)">
                                            <img src="/static/images/product/5.jpg" alt="book" class="primary">
                                        </a>
                                        <div class="quick-view">
                                            <a class="action-view" href="javascript:void(0)" data-target="#productModal" data-toggle="modal" title="Quick View">
                                                <i class="fa fa-search-plus"></i>
                                            </a>
                                        </div>
                                        <div class="product-flag">
                                            <ul>
                                                <li><span class="sale">new</span></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="product-details text-center">
                                        <div class="product-rating">
                                            <ul>
                                                <li><a href="javascript:void(0)"><i class="fa fa-star"></i></a></li>
                                                <li><a href="javascript:void(0)"><i class="fa fa-star"></i></a></li>
                                                <li><a href="javascript:void(0)"><i class="fa fa-star"></i></a></li>
                                                <li><a href="javascript:void(0)"><i class="fa fa-star"></i></a></li>
                                                <li><a href="javascript:void(0)"><i class="fa fa-star"></i></a></li>
                                            </ul>
                                        </div>
                                        <h4><a href="javascript:void(0)">Set of Sprite Yoga Straps</a></h4>
                                        <div class="product-price">
                                            <ul>
                                                <li><span>Starting at</span>$34.00</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="product-link">
                                        <div class="product-button">
                                            <a href="javascript:void(0)" title="Add to cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                        </div>
                                        <div class="add-to-link">
                                            <ul>
                                                <li><a href="product-details.html" title="Details"><i class="fa fa-external-link"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!-- single-product-end -->
                            </div>
                            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                                <!-- single-product-start -->
                                <div class="product-wrapper mb-40">
                                    <div class="product-img">
                                        <a href="javascript:void(0)">
                                            <img src="/static/images/product/19.jpg" alt="book" class="primary">
                                        </a>
                                        <div class="quick-view">
                                            <a class="action-view" href="javascript:void(0)" data-target="#productModal" data-toggle="modal" title="Quick View">
                                                <i class="fa fa-search-plus"></i>
                                            </a>
                                        </div>
                                        <div class="product-flag">
                                            <ul>
                                                <li><span class="sale">new</span></li>
                                                <li><span class="discount-percentage">-5%</span></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="product-details text-center">
                                        <div class="product-rating">
                                            <ul>
                                                <li><a href="javascript:void(0)"><i class="fa fa-star"></i></a></li>
                                                <li><a href="javascript:void(0)"><i class="fa fa-star"></i></a></li>
                                                <li><a href="javascript:void(0)"><i class="fa fa-star"></i></a></li>
                                                <li><a href="javascript:void(0)"><i class="fa fa-star"></i></a></li>
                                                <li><a href="javascript:void(0)"><i class="fa fa-star"></i></a></li>
                                            </ul>
                                        </div>
                                        <h4><a href="javascript:void(0)">Compete Track Tote</a></h4>
                                        <div class="product-price">
                                            <ul>
                                                <li>$32.00</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="product-link">
                                        <div class="product-button">
                                            <a href="javascript:void(0)" title="Add to cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                        </div>
                                        <div class="add-to-link">
                                            <ul>
                                                <li><a href="product-details.html" title="Details"><i class="fa fa-external-link"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!-- single-product-end -->
                            </div>
                            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                                <!-- single-product-start -->
                                <div class="product-wrapper mb-40">
                                    <div class="product-img">
                                        <a href="javascript:void(0)">
                                            <img src="/static/images/product/7.jpg" alt="book" class="primary">
                                        </a>
                                        <div class="quick-view">
                                            <a class="action-view" href="javascript:void(0)" data-target="#productModal" data-toggle="modal" title="Quick View">
                                                <i class="fa fa-search-plus"></i>
                                            </a>
                                        </div>
                                        <div class="product-flag">
                                            <ul>
                                                <li><span class="discount-percentage">-5%</span></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="product-details text-center">
                                        <div class="product-rating">
                                            <ul>
                                                <li><a href="javascript:void(0)"><i class="fa fa-star"></i></a></li>
                                                <li><a href="javascript:void(0)"><i class="fa fa-star"></i></a></li>
                                                <li><a href="javascript:void(0)"><i class="fa fa-star"></i></a></li>
                                                <li><a href="javascript:void(0)"><i class="fa fa-star"></i></a></li>
                                                <li><a href="javascript:void(0)"><i class="fa fa-star"></i></a></li>
                                            </ul>
                                        </div>
                                        <h4><a href="javascript:void(0)">Strive Shoulder Pack</a></h4>
                                        <div class="product-price">
                                            <ul>
                                                <li>$30.00</li>
                                                <li class="old-price">$32.00</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="product-link">
                                        <div class="product-button">
                                            <a href="javascript:void(0)" title="Add to cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                        </div>
                                        <div class="add-to-link">
                                            <ul>
                                                <li><a href="product-details.html" title="Details"><i class="fa fa-external-link"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!-- single-product-end -->
                            </div>
                            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                                <!-- single-product-start -->
                                <div class="product-wrapper mb-40">
                                    <div class="product-img">
                                        <a href="javascript:void(0)">
                                            <img src="/static/images/product/4.jpg" alt="book" class="primary">
                                        </a>
                                        <div class="quick-view">
                                            <a class="action-view" href="javascript:void(0)" data-target="#productModal" data-toggle="modal" title="Quick View">
                                                <i class="fa fa-search-plus"></i>
                                            </a>
                                        </div>
                                        <div class="product-flag">
                                            <ul>
                                                <li><span class="discount-percentage">-5%</span></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="product-details text-center">
                                        <div class="product-rating">
                                            <ul>
                                                <li><a href="javascript:void(0)"><i class="fa fa-star"></i></a></li>
                                                <li><a href="javascript:void(0)"><i class="fa fa-star"></i></a></li>
                                                <li><a href="javascript:void(0)"><i class="fa fa-star"></i></a></li>
                                                <li><a href="javascript:void(0)"><i class="fa fa-star"></i></a></li>
                                                <li><a href="javascript:void(0)"><i class="fa fa-star"></i></a></li>
                                            </ul>
                                        </div>
                                        <h4><a href="javascript:void(0)">Chaz Kangeroo Hoodie</a></h4>
                                        <div class="product-price">
                                            <ul>
                                                <li>$52.00</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="product-link">
                                        <div class="product-button">
                                            <a href="javascript:void(0)" title="Add to cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                        </div>
                                        <div class="add-to-link">
                                            <ul>
                                                <li><a href="product-details.html" title="Details"><i class="fa fa-external-link"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!-- single-product-end -->
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="list">
                        <!-- single-shop-start -->
                        <div class="single-shop mb-30">
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-12">
                                    <div class="product-wrapper-2">
                                        <div class="product-img">
                                            <a href="javascript:void(0)">
                                                <img src="/static/images/product/3.jpg" alt="book" class="primary">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-8 col-md-8 col-12">
                                    <div class="product-wrapper-content">
                                        <div class="product-details">
                                            <div class="product-rating">
                                                <ul>
                                                    <li><a href="javascript:void(0)"><i class="fa fa-star"></i></a></li>
                                                    <li><a href="javascript:void(0)"><i class="fa fa-star"></i></a></li>
                                                    <li><a href="javascript:void(0)"><i class="fa fa-star"></i></a></li>
                                                    <li><a href="javascript:void(0)"><i class="fa fa-star"></i></a></li>
                                                    <li><a href="javascript:void(0)"><i class="fa fa-star"></i></a></li>
                                                </ul>
                                            </div>
                                            <h4><a href="javascript:void(0)">Crown Summit</a></h4>
                                            <div class="product-price">
                                                <ul>
                                                    <li>$36.00</li>
                                                    <li class="old-price">$38.00</li>
                                                </ul>
                                            </div>
                                            <p>The sporty Joust Duffle Bag can't be beat - not in the gym, not on the luggage carousel, not anywhere. Big enough to haul a basketball or soccer ball and some sneakers with plenty of room to spare,... </p>
                                        </div>
                                        <div class="product-link">
                                            <div class="product-button">
                                                <a href="javascript:void(0)" title="Add to cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                            </div>
                                            <div class="add-to-link">
                                                <ul>
                                                    <li><a href="product-details.html" title="Details"><i class="fa fa-external-link"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- single-shop-end -->
                        <!-- single-shop-start -->
                        <div class="single-shop mb-30">
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-12">
                                    <div class="product-wrapper-2">
                                        <div class="product-img">
                                            <a href="javascript:void(0)">
                                                <img src="/static/images/product/18.jpg" alt="book" class="primary">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-8 col-md-8 col-12">
                                    <div class="product-wrapper-content">
                                        <div class="product-details">
                                            <div class="product-rating">
                                                <ul>
                                                    <li><a href="javascript:void(0)"><i class="fa fa-star"></i></a></li>
                                                    <li><a href="javascript:void(0)"><i class="fa fa-star"></i></a></li>
                                                    <li><a href="javascript:void(0)"><i class="fa fa-star"></i></a></li>
                                                    <li><a href="javascript:void(0)"><i class="fa fa-star"></i></a></li>
                                                    <li><a href="javascript:void(0)"><i class="fa fa-star"></i></a></li>
                                                </ul>
                                            </div>
                                            <h4><a href="javascript:void(0)">Driven Backpack</a></h4>
                                            <div class="product-price">
                                                <ul>
                                                    <li>$34.00</li>
                                                    <li class="old-price">$36.00</li>
                                                </ul>
                                            </div>
                                            <p>The sporty Joust Duffle Bag can't be beat - not in the gym, not on the luggage carousel, not anywhere. Big enough to haul a basketball or soccer ball and some sneakers with plenty of room to spare,... </p>
                                        </div>
                                        <div class="product-link">
                                            <div class="product-button">
                                                <a href="javascript:void(0)" title="Add to cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                            </div>
                                            <div class="add-to-link">
                                                <ul>
                                                    <li><a href="product-details.html" title="Details"><i class="fa fa-external-link"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- single-shop-end -->
                        <!-- single-shop-start -->
                        <div class="single-shop mb-30">
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-12">
                                    <div class="product-wrapper-2">
                                        <div class="product-img">
                                            <a href="javascript:void(0)">
                                                <img src="/static/images/product/10.jpg" alt="book" class="primary">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-8 col-md-8 col-12">
                                    <div class="product-wrapper-content">
                                        <div class="product-details">
                                            <div class="product-rating">
                                                <ul>
                                                    <li><a href="javascript:void(0)"><i class="fa fa-star"></i></a></li>
                                                    <li><a href="javascript:void(0)"><i class="fa fa-star"></i></a></li>
                                                    <li><a href="javascript:void(0)"><i class="fa fa-star"></i></a></li>
                                                    <li><a href="javascript:void(0)"><i class="fa fa-star"></i></a></li>
                                                    <li><a href="javascript:void(0)"><i class="fa fa-star"></i></a></li>
                                                </ul>
                                            </div>
                                            <h4><a href="javascript:void(0)">Fusion Backpack</a></h4>
                                            <div class="product-price">
                                                <ul>
                                                    <li>$59.00</li>
                                                </ul>
                                            </div>
                                            <p>The sporty Joust Duffle Bag can't be beat - not in the gym, not on the luggage carousel, not anywhere. Big enough to haul a basketball or soccer ball and some sneakers with plenty of room to spare,... </p>
                                        </div>
                                        <div class="product-link">
                                            <div class="product-button">
                                                <a href="javascript:void(0)" title="Add to cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                            </div>
                                            <div class="add-to-link">
                                                <ul>
                                                    <li><a href="product-details.html" title="Details"><i class="fa fa-external-link"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- single-shop-end -->
                        <!-- single-shop-start -->
                        <div class="single-shop mb-30">
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-12">
                                    <div class="product-wrapper-2">
                                        <div class="product-img">
                                            <a href="javascript:void(0)">
                                                <img src="/static/images/product/5.jpg" alt="book" class="primary">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-8 col-md-8 col-12">
                                    <div class="product-wrapper-content">
                                        <div class="product-details">
                                            <div class="product-rating">
                                                <ul>
                                                    <li><a href="javascript:void(0)"><i class="fa fa-star"></i></a></li>
                                                    <li><a href="javascript:void(0)"><i class="fa fa-star"></i></a></li>
                                                    <li><a href="javascript:void(0)"><i class="fa fa-star"></i></a></li>
                                                    <li><a href="javascript:void(0)"><i class="fa fa-star"></i></a></li>
                                                    <li><a href="javascript:void(0)"><i class="fa fa-star"></i></a></li>
                                                </ul>
                                            </div>
                                            <h4><a href="javascript:void(0)">Set of Sprite Yoga Straps</a></h4>
                                            <div class="product-price">
                                                <ul>
                                                    <li><span>Starting at</span>$34.00</li>
                                                </ul>
                                            </div>
                                            <p>The sporty Joust Duffle Bag can't be beat - not in the gym, not on the luggage carousel, not anywhere. Big enough to haul a basketball or soccer ball and some sneakers with plenty of room to spare,... </p>
                                        </div>
                                        <div class="product-link">
                                            <div class="product-button">
                                                <a href="javascript:void(0)" title="Add to cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                            </div>
                                            <div class="add-to-link">
                                                <ul>
                                                    <li><a href="product-details.html" title="Details"><i class="fa fa-external-link"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- single-shop-end -->
                        <!-- single-shop-start -->
                        <div class="single-shop">
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-12">
                                    <div class="product-wrapper-2">
                                        <div class="product-img">
                                            <a href="javascript:void(0)">
                                                <img src="/static/images/product/19.jpg" alt="book" class="primary">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-8 col-md-8 col-12">
                                    <div class="product-wrapper-content">
                                        <div class="product-details">
                                            <div class="product-rating">
                                                <ul>
                                                    <li><a href="javascript:void(0)"><i class="fa fa-star"></i></a></li>
                                                    <li><a href="javascript:void(0)"><i class="fa fa-star"></i></a></li>
                                                    <li><a href="javascript:void(0)"><i class="fa fa-star"></i></a></li>
                                                    <li><a href="javascript:void(0)"><i class="fa fa-star"></i></a></li>
                                                    <li><a href="javascript:void(0)"><i class="fa fa-star"></i></a></li>
                                                </ul>
                                            </div>
                                            <h4><a href="javascript:void(0)">Compete Track Tote</a></h4>
                                            <div class="product-price">
                                                <ul>
                                                    <li>$32.00</li>
                                                </ul>
                                            </div>
                                            <p>The sporty Joust Duffle Bag can't be beat - not in the gym, not on the luggage carousel, not anywhere. Big enough to haul a basketball or soccer ball and some sneakers with plenty of room to spare,... </p>
                                        </div>
                                        <div class="product-link">
                                            <div class="product-button">
                                                <a href="javascript:void(0)" title="Add to cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                            </div>
                                            <div class="add-to-link">
                                                <ul>
                                                    <li><a href="product-details.html" title="Details"><i class="fa fa-external-link"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- single-shop-end -->
                    </div>
                </div>
                <!-- tab-area-end -->
                <!-- pagination-area-start -->
                <div class="pagination-area mt-50">
                    <div class="list-page-2">
                        <p>Items 1-10 of 30</p>
                    </div>
                    <div class="page-number">
                        <ul>
                            <li><a href="javascript:void(0)" class="active">1</a></li>
                            <li><a href="javascript:void(0)">2</a></li>
                            <li><a href="javascript:void(0)">3</a></li>
                            <li><a href="javascript:void(0)">4</a></li>
                            <li><a href="javascript:void(0)" class="angle"><i class="fa fa-angle-right"></i></a></li>
                        </ul>
                    </div>
                </div>
                <!-- pagination-area-end -->
            </div>
        </div>
    </div>
</div>

{% endblock %}